<div class="container">
  <div class="row bg-primary text-white p-3 mb-3">
    <h4 class="fw-bold"> Candidat </h4>
  </div>
  <form>
    <div class="row">
      <div class="col-md-12 mb-3">
        <label for="nom" class="form-label">Nom</label>
        <input type="text" class="form-control col-6" id="nom" placeholder="Nom">
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 mb-3">
        <label for="prenom" class="form-label">Prénom</label>
        <input type="text" class="form-control col-6" id="prenom" placeholder="Prénom">
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control col-6" id="email" placeholder="Email">
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 mb-3">
        <button type="submit" class="btn btn-primary">Envoyer</button>
      </div>
    </div>
  </form>
</div>





<div class="container">
  <div class="row bg-primary text-white p-3 mb-3">
    <h4 class="fw-bold"> Mes candidatures  </h4>
  </div>
</div>
<div class="text-center">
  <ul class="list-group">
    <li class="list-group-item d-flex justify-content-between align-items-center">
      Formation 1
      <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-secondary">Edit</button>
        <button type="button" class="btn btn-danger">Delete</button>
      </div>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      Formation 2
      <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-secondary">Edit</button>
        <button type="button" class="btn btn-danger">Delete</button>
      </div>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      Formation 3
      <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-secondary">Edit</button>
        <button type="button" class="btn btn-danger">Delete</button>
      </div>
    </li>
  </ul>
</div>











